html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #map {
    width: 100%;
    height: 100vh;
  }
  #search-box {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 8px;
    z-index: 1000;
  }
  